# Dependencies
node_modules
pnpm-lock.yaml

# Build output
dist
dist-types
build
.plasmo/

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store